# See https://help.github.com/ignore-files/ for more about ignoring files.
./models/*.ts

# may contain OAuth secrets, do not commit
.sitecore/user.json

# NuGet cache for Sitecore CLI
/.sitecore/package-cache/

# Ephemeral index caches used by serialization, do not commit
./serialization/serialization/**/.scindex
/serialization/serialization/**/.scindex
serialization/serialization/**/.scindex
/serialization/**/**/.scindex
.scindex
# dependencies
/node_modules

# testing
/coverage

# next.js
/.next*/
/out/

# graphql code generation
/.generated
*.graphql.d.ts
*.graphqls.d.ts

# misc
.DS_Store

# local env files

.env
.env.local
.env.*.local

# Log files
*.log*

# sitecore
scjssconfig.json
*.deploysecret.config

# vercel
.vercel
