@import "basic/fonts";
// @import "bootstrap/scss/bootstrap";
@import "sass/main.scss";
@import "basic/main.scss";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';